@charset "UTF-8";

/*링크 스타일*/
a:link{text-decoration:none; color:gray; font-weight:bold;}/*링크 상태일때*/
a:visited{text-decoration:none; color:gray;font-weight:bold;}/*방문했을 때*/
a:hover{text-decoration:none; color:gray;font-weight:bold;}/*마우스를 오버했을 때*/
a:active{text-decoration:none; color:gray;font-weight:bold;}/*마우스를 누르고 있을 떄*/

 
